<h1>Questions#ask</h1>

<h2>Your question is <%= @question %></h2>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="What do you say?">
  <input type="submit">
</form>


